.sidenav-left {
  position: fixed;
  top: 2.5vh;
  left: 1vw;
  grid-area: nav-left;
  width: 15.8%;
  max-width: 15.8%;
  height: calc(100vh - 5vh);
  padding: 2rem 0rem;
  justify-content: space-between;
  flex-direction: column;
  background: var(--clr-sidebar);
  border-radius: 1.5rem;
}

.sidenav-left .brand {
  align-items: flex-end;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 0 1.5rem;
}

.sidenav-left .nav-bottom {
  padding: 0 1.5rem;
}

.sidenav-left .brand-logo {
  width: 2.25rem;
  height: auto;
  margin: auto;
}

.brand-name {
  color: var(--clr-heading-secondary);
  font-size: 1.4rem;
}

.add-task-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  font-size: var(--fs-regular);
  background: var(--clr-button-bg);
  color: var(--clr-button-text);
}

.add-task-btn:hover {
  background: var(--clr-button-hover);
}

/* Responsive */
@media screen and (max-width: 1255px) { 
  .brand-name {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1070px) {
  .sidenav-left {
    width: auto;
    max-width: 10%;
  }

  .nav-link span,
  .brand-name {
    display: none;
  }

  .nav-link {
    justify-content: center;
    text-align: center;
  }

  .sidenav-left .nav-bottom {
    padding: 0 0.75rem;
  }
}

@media  screen and (max-width: 775px) {
  .sidenav-left {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0 0.75rem 1rem 0.75rem;
    flex-direction: row;
    border-radius: 0;
    border-top: 1px solid var(--clr-divider);
    background: var(--clr-displayer);
    z-index: 2;
  }

  .sidenav-left .brand {
    display: none;
    padding: 0;
  }

  .sidenav-left .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }


  .sidenav-left .nav-bottom {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
  }

  .sidenav-left .nav-bottom .add-task-btn {
    padding: 0.75rem 1rem;
  }
}