.main-displayer {
  grid-area: main;
  background: var(--clr-displayer);
  padding: 2rem;
}

.displayer-header {
  padding-bottom: 1rem;
  border-bottom: 1.5px solid var(--clr-divider)
}

.displayer-header-inner {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.daily-msg {
  color: var(--clr-text-block);
}

.displayer-header-inner .col-right {
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.date {
  font-weight: var(--fw-bold);
  color: var(--clr-heading-secondary);
}

.user-mobile,
.search-bar-mobile {
  display: none;
}

/* Responsive */
@media screen and (max-width: 1255px) {
  .user-mobile {
    display: block;
  }
}

@media screen and (max-width: 1070px) {
  .search-bar {
    display: none;
  }
  
  .search-bar-mobile,
  .search-bar-mobile .search-bar {
    display: block;
  }
  .search-bar {
    width: 100%;
  }
}

@media screen and (max-width: 775px) {
  .main-displayer {
    margin-top: 3.5rem;
    padding: 2rem 1rem;
  }
  .displayer-header {
    padding-bottom: 2rem
  }

  .user-mobile {
    display: none;
  }
}