.search-bar {
  width: 25%;
  padding: 0.7rem;
  background: var(--clr-sidebar);
  border-radius: 1rem;
  border: 2.5px solid #ffff0000;
  justify-content: space-between;
}

.search-bar:focus-within {
  box-shadow: 0 0 2.5px 5px #5269ff29;
  border-color: var(--clr-button-hover);
}

.search-input,
.search-btn {
  font-size: var(--fs-regular);
}

.search-input {
  width: 80%;
  border: none;
  background: var(--clr-sidebar);
}

.search-input::placeholder {
  color: var(--clr-text-primary);
}

.search-input:focus {
  outline: none;
}

.search-btn {
  width: 20%;
  border: none;
  background: none;
  text-align: end;
  color: var(--clr-text-primary);
}