/* Font: 'DM Sans' (300, 400, 700) */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&display=swap');

:root {
   /* Layout */
  --clr-displayer: #EFF2F8;
  --clr-sidebar: #fff;
  --clr-divider: #cdd2e5;
  --clr-divider-light: #dcdfea;

  /* Text */
  --clr-heading-primary: #3852fa;
  --clr-heading-secondary: #182164;
  --clr-text-primary: #ababbd;
  --clr-text-secondary: #c4c7da;
  --clr-text-block: #7f7f95;

  /* Button */
  --clr-button-text: #fff;
  --clr-button-bg: #5269ff;
  --clr-button-bg-secondary: #ebedf6;
  --clr-button-accent: ;
  --clr-button-hover: #3c54f4;
  --clr-button-shade: #5269ff8b;

  /* Forms */
  --clr-form-modal: #0d0d159d;
  --clr-form-bg: #fff;
  --clr-form-field: #EFF2F8;
  --clr-form-field-border: #3852fa;

  /* Accents */
  --clr-accent: #3852fa;
  --clr-bg-accent: #3852fa0c;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-small: 0.825rem;
  --fs-regular: 1.025rem;
  --fs-medium: 1.5rem;
  --fs-large: 1.75rem;
  --fs-xlarge: 3.5rem;
}

[data-theme="dark"] {
   /* Layout */
  --clr-displayer: #100E1C;
  --clr-sidebar: #1B1D2E;
  --clr-divider: var(--clr-sidebar);
  --clr-divider-light: #3e3d5c;

  /* Text */
  --clr-heading-primary: var(--clr-heading-secondary);
  --clr-heading-secondary: #f5f5f5;
  --clr-text-primary: #636681;
  --clr-text-secondary: #c4c7da;
  --clr-text-block: #9898ae;

  /* Button */
  --clr-button-text: #fff;
  --clr-button-bg: #5269ff;
  --clr-button-bg-secondary: var(--clr-displayer);
  --clr-button-accent: ;
  --clr-button-hover: #3c54f4;
  --clr-button-shade: #5269ff8b;

   /* Forms */
  --clr-form-modal: #0d0d159d;
  --clr-form-bg: var(--clr-sidebar);
  --clr-form-field: #100f1b;
  --clr-form-field-border: #3e3d5c;
  
  /* Accents */
  --clr-accent: #5e80f9;
  --clr-bg-accent: #5e80f913;
}

/* General */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-size: var(--fs-regular);
  cursor: pointer;
  border: none;
  transition: color ease 0.2s, 
              background ease 0.2s;
}

input,
textarea {
  font-family: 'DM Sans', sans-serif;
  color: var(--clr-heading-secondary);
}

a {
  text-decoration: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: var(--fs-regular);
}

/* Fonts */
h1 {
  font-size: var(--fs-xlarge);
  color: var(--clr-heading-secondary);
}

h1 span {
  color: var(--clr-button-bg);
}

h2 {
  font-size: var(--fs-large);
}

h2,
h3,
h4,
p
span {
  color: var(--clr-heading-secondary);
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-divider-light);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #5f73f9;
	transition: background ease 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-button-bg);
}

/* Main Container */
.main-container {
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  background: var(--clr-displayer);
}

.is-flex {
  display: flex;
}

/* Responsive */
@media  screen and (max-width: 775px) {
  :root {
    --fs-medium: 1.25rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 2rem;
  }
}
