.user-menu {
  position: absolute;
  top: 85%;
  right: 1rem;
  width: auto;
  padding: 1.2rem;
  background: var(--clr-displayer);
  border: 1px solid var(--clr-divider);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px #14121a12;
  display: none;
  z-index: 1;
}

.user-menu .lead,
.user-menu .stats-title,
.menu-controls,
.menu-controls .logout-btn {
  font-size: var(--fs-small);
}

.user-menu .stats-wrapper h3 {
  font-size: var(--fs-regular);
}


.user-menu .lead,
.user-menu .stats-wrapper,
.menu-controls,
.menu-controls .logout-btn  {
  color: var(--clr-heading-secondary);
}

.user-menu .user {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-divider);
}

.user-menu .stats-wrapper {
  display: block;
}

.user-menu .stats {
  padding: 0;
}

.menu-controls.is-flex {
  padding-top: 1rem;
  border-top: 1px solid var(--clr-divider);
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.menu-controls .logout-btn {
  background: none;
}

.menu-icon, .menu-controls .logout-btn {
  display: flex;
  gap: 1rem;
}

/* Responsvie */
@media screen and (max-width: 775px) {
  .user-menu.menu-active {
    display: block;
  }
}